<h5 class="card-title d-flex justify-content-between ">
  <span>Student <%= @student.name%></span>
</h5>

Email: <%= @student.email %>
<br>
<br>

<% if @student.achievements.empty? %>
  <strong>No achievements</strong>
  <br>
<% else %>

  <strong>Achievements:</strong>
  <% @student.achievements.each do |achievement| %>
    <p>
      <%=link_to achievement.title, user_achievement_path(@student, achievement)%>
      <span class="badge bg-secondary"><%= achievement.likes.count %></span>  
    </p>
  <% end %>

<% end %>
<br>
<%=link_to "Back to students", root_path, class: 'btn btn-outline-secondary btn-sm'%>