<h5 class="card-title d-flex justify-content-between ">
  <span>Student <%= @student.name%></span>
  <% if user_signed_in? && current_user.admin%>
    <%= link_to "Destroy", @student, method: :delete, class: 'btn btn-outline-danger'%>
  <% end %>
</h5>

Email: <%= @student.email %>
<br>
<br>

<% if @student.achievements.empty? %>
  <strong>No achievements</strong>
  <br>
<% else %>

  <strong>Achievements:</strong>
  <% @student.achievements.each do |achievement| %>
    <div class="card card mb-2">
      <div class="card-body">
        <%=link_to achievement.title, user_achievement_path(@student, achievement)%>

        <% if achievement.likes.count != 0%>
          <span class="badge bg-success"><%= achievement.likes.count %></span>
        <% else %>
          <span class="badge bg-secondary"><%= achievement.likes.count %></span>
        <% end %>
      </div>
    </div>
  <% end %>

<% end %>
<br>
<%=link_to "Back to students", root_path, class: 'btn btn-outline-secondary btn-sm'%>