<h2 class='card-title'>Welcome</h2>
<% if @user.is_teacher %>
  <strong>Teacher</strong>
<% else %>
  <strong>Student</strong>
<% end %>
<strong><%= @user.name %></strong>
<br>

<% if @user.achievements.empty? %>
  <strong>No achievements</strong>
  <br>
<% else %>

  <strong>Achievements:</strong>
  <% @user.achievements.each do |achievement| %>
    <p>
      <%=link_to achievement.title, user_achievement_path(@user, achievement), method: :post%>
    </p>
  <% end %>

<% end %>

<strong>Add an achievement:</strong>
<%= form_with model: [ @user, @user.achievements.build ] do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<% if @user.is_teacher %>
  <%=link_to "Back to teachers", teachers_path%>
<% else %>
  <%=link_to "Back to students", students_path%>
<% end %>

