<h3 class='card-title d-flex justify-content-between'>
  <span>Welcome</span>
  <%=link_to "Add achievement", new_user_achievement_path(@user), class: 'btn btn-outline-success'%>
</h3>

<% if @user.is_teacher %>
  <strong>Teacher</strong>
<% else %>
  <strong>Student</strong>
<% end %>
<strong><%= @user.name %></strong>
<br>
<br>

<% if @user.achievements.empty? %>
  <strong>No achievements</strong>
  <br>
<% else %>

  <strong>Achievements:</strong>
    <% @user.achievements.each do |achievement| %>
    <div class="card card mb-2">
      <div class="card-body">
        <%=link_to achievement.title, user_achievement_path(@user, achievement), method: :post, class: 'glyphicon glyphicon-trash'%>

        <% if achievement.likes.count != 0%>
          <span class="badge bg-success"><%= achievement.likes.count %></span>
        <% else %>
          <span class="badge bg-secondary"><%= achievement.likes.count %></span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>


<br>
<% if @user.is_teacher %>
  <%=link_to "Back to teachers", teachers_path, class: 'btn btn-outline-secondary btn-sm'%>
<% else %>
  <%=link_to "Back to students", students_path, class: 'btn btn-outline-secondary btn-sm'%>
<% end %>

