<h2 class='card-title d-flex justify-content-between'>
  <span>Welcome</span>
  <%=link_to "Add achievement", new_user_achievement_path(@user), class: 'btn btn-outline-success'%>
</h2>


<% if @user.is_teacher %>
  <strong>Teacher</strong>
<% else %>
  <strong>Student</strong>
<% end %>
<strong><%= @user.name %></strong>
<br>

<% if @user.achievements.empty? %>
  <strong>No achievements</strong>
  <br>
<% else %>

  <strong>Achievements:</strong>
    <% @user.achievements.each do |achievement| %>
    <p>
      <%=link_to achievement.title, user_achievement_path(@user, achievement), method: :post, class: 'glyphicon glyphicon-trash'%>
      <span class="badge bg-secondary"><%= achievement.likes.count %></span>
    </p>
  <% end %>
<% end %>



<% if @user.is_teacher %>
  <%=link_to "Back to teachers", teachers_path%>
<% else %>
  <%=link_to "Back to students", students_path%>
<% end %>

