<h2 class='card-title'>Teachers</h2>

<%= form_tag(search_teachers_path, :method => "get") do %>
  <div class="input-group mb-2">
    <%= search_field_tag :search, params[:search], placeholder: "Search teachers", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "Search", :class => 'btn btn-outline-success', :name => nil%>
    </div>
  </div>
<%end %>

<% @teachers.each do |teacher| %>
  <% if user_signed_in? && teacher == current_user%>
    <%= link_to myprofile_path(teacher) do %>
      <div class="card card mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= teacher.name%></h5>
          <p class="card-subtitle mb-2 text-muted">Achievements: <%= teacher.achievements.count %></p>
        </div>
      </div>
    <% end %>

  <% else %>
    <%= link_to teacher_path(teacher) do %>
      <div class="card card mb-2">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between "><%= teacher.name%>
            <div>
              <% if user_signed_in? && current_user.admin%>
                <%= link_to "Destroy", teacher, method: :delete, class: 'btn btn-outline-danger'%>
              <% end %>
            </div>
          </h5>
          <p class="card-subtitle mb-2 text-muted">Achievements: <%= teacher.achievements.count %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<br>
<div class = container6>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>