<h3>Search Teachers</h3>


<% if @results.blank? %>
  <strong>Results not found</strong>
<% end %>

<% @results.each do |result| %>
  <% if user_signed_in? && result == current_user%>
    <%= link_to myprofile_path(result) do %>
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= result.name%></h5>
          <p  class="card-subtitle mb-2 text-muted">Achievements: <%= result.achievements.count %></p>
        </div>
      </div>
    <% end %>

  <% else %>
    <%= link_to teacher_path(result) do %>
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title d-flex justify-content-between "><%= result.name%>
            <div>
              <% if user_signed_in? && current_user.admin%>
                <%= link_to "Destroy", result, method: :delete, class: 'btn btn-outline-danger'%>
              <% end %>
            </div>

            <div>
              <% if user_signed_in? && !current_user.admin%>
                <% if !current_user.following?(result) %>
                  <%= link_to image_tag("star-empty.jpg", option = {height: "25px"}), { controller: 'relationships', action: "create", id: result.id }, remote: true, method: :post %>
                <% else %>
                  <%= link_to image_tag("star.jpg", option = {height: "25px"}), { controller: 'relationships', action: "destroy", id: result.id }, remote: true, method: :delete %>
                <% end %>
              <% end %>
            </div>
          </h5>
          <p class="card-subtitle mb-2 text-muted">Achievements: <%= result.achievements.count %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= link_to "Back", teachers_path, class: 'btn btn-outline-secondary btn-sm'%>