<h5 class="card-title d-flex justify-content-between ">
  <span>Teacher <%= @teacher.name%></span>
  <% if user_signed_in? && current_user.admin%>
    <%= link_to "Destroy", @teacher, method: :delete, class: 'btn btn-outline-danger'%>
  <% end %>
</h5>

Email: <%= @teacher.email %>
<br>
<br>

<% if @teacher.achievements.empty? %>
  <strong>No achievements</strong>
  <br>
<% else %>
  <strong>Achievements:</strong>
  <% @teacher.achievements.each do |achievement| %>
    <div class="card card mb-2">
      <div class="card-body">
        <div class=" d-flex justify-content-between">
          <div>
            <%=link_to achievement.title, user_achievement_path(@teacher, achievement)%>
            <% if achievement.likes.count != 0%>
              <span class="badge bg-success"><%= achievement.likes.count %></span>
            <% else %>
              <span class="badge bg-secondary"><%= achievement.likes.count %></span>
            <% end %>
          </div>

          <p class="card-subtitle mb-2 text-muted">Comments:<%= achievement.comments.count %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<br>
<%=link_to "Back to teachers", teachers_path, class: 'btn btn-outline-secondary btn-sm'%>
