<h5 class="card-title d-flex justify-content-between ">
  <span>Teacher <%= @teacher.name%></span>
</h5>

Email: <%= @teacher.email %>
<br>
<br>

    <% if @teacher.achievements.empty? %>
      <strong>No achievements</strong>
      <br>
    <% else %>
        <strong>Achievements:</strong>
        <% @teacher.achievements.each do |achievement| %>
          <p>
            <%=link_to achievement.title, user_achievement_path(@teacher, achievement)%>
            <span class="badge bg-secondary"><%= achievement.likes.count %></span>
          </p>
        <% end %>
    <% end %>

<br>
<%=link_to "Back to teachers", teachers_path, class: 'btn btn-outline-secondary btn-sm'%>
