<strong>Teacher <%= @teacher.name%></strong>
<br>
Email: <%= @teacher.email %>
<br>
<% if @teacher.achievements.empty? %>
  <strong>No achievements</strong>
  <br>
<% else %>

  <strong>Achievements:</strong>
  <% @teacher.achievements.each do |achievement| %>
    <p>
      <% if achievement.likes != 0 %>
        <%=link_to achievement.title, user_achievement_path(@teacher, achievement)%> :<%= achievement.likes.count %>+
      <% else %>
        <%=link_to achievement.title, user_achievement_path(@teacher, achievement)%>
      <% end %>
    </p>
  <% end %>

<% end %>
<br>
<%=link_to "Back to teachers", teachers_path%>