<!DOCTYPE html>
<html>
  <head>
    <title>DiplomV0</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%# render 'shared/navbar' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= link_to "Registration", new_user_registration_path %>
  <%= link_to "Sign_in", new_user_session_path %>
  <%= link_to "Sign_out", destroy_user_session_path, method: :delete%>
    <%= yield %>
  </body>
</html>
