<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="form-check mb-2">
    <%= f.label :is_teacher? %>
    <%= f.check_box :is_teacher, class: "form-check-input" %>
  </div>

  <div class="form-group mb-2">
    <%= f.text_field :name, class: 'form-control', placeholder: "Name"%>
  </div>

  <div class="form-group mb-2">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Email" %>
  </div>

  <div class="form-group mb-2">
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "Password" %>
  </div>

  <div class="form-group mb-2">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' , placeholder: "Password confirmation" %>
  </div>

  <div class="actions mb-2">
    <%= f.submit "Sign up", class: 'btn btn-outline-success' %>
  </div>

<% end %>

<%= render "users/shared/links" %>
